@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primaria: "Montserrat", sans-serif
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo {
    width: 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cabecalho__link {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.apresentacao {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5% 8%;
    gap: 0.5rem;
}

.apresentacao__paragrafros {
    display: flex;
    justify-content: center;
}

.apresentacao__paragrafo {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1.125rem;
}

.apresentacao__img-container {
    
}

.apresentacao__img {
    width: 100%;
}

.rodape {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 0.5%;
}

.rodape__redes {
    display: flex;
    align-items: center;
    padding: 0.5% 0.5%;
    gap: 0.5rem;
}

.rodape__img {
    width: 2.25rem;
}

.rodape__logo {
    padding: 0 1%;
}

@media (max-width: 1200px) {
    .apresentacao {
        padding: 0;
        justify-content: center;
    }
}